@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
* {
  padding: 0;
  margin: 0 0 0 0;
}
body{
  font-family: serif;
  font-size: 15px;
  /* background-color: #F1B04399; */
  background-image: url(background.jpeg);
  background-repeat: no-repeat;
  /* background-position: center; */
  background-attachment: fixed;
  /*background-attachment ensures that the background image shoukd scroll or remain fixed with the scrollof rest of the page */
 
}
#h1{
  font-family: "Baskervville SC", sans-serif;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #ffffff;
  text-align: center;
  padding: 5px;
  margin: 10px 10px 0 10px;
  border-radius: 5px;
  text-shadow: 2px 2px 2px red, 0 0 10px red, 0 0 30px orangered;
  border-width: 5px 0 0 5px;
  border-style: solid;
  border-color: green;
  border-radius: 10px;
}
#p1{
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: tomato;
  text-align: left;
  padding: 15px;
  margin: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 0 0 0 5px;
  border-color: #6C5CCA;
  border-radius: 5px;
}
#border{
  box-sizing: border-box;
  background-color: #538F5C;
  margin: 10px 10px 0 10px;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: #CA5C5C;
  border-radius: 5px;
  padding: 10px 0px 10px 10px;
}


#div1{
  box-sizing: border-box;
  border-width: 10px;
  border-radius: 15px;
  border-style: solid;
  margin: 10px 10px 10px 10px;
  border-color: red yellow blue green;
  /* this will color each border side different */
  padding: 10px;
}
#div2{
  box-sizing: border-box;
  border-width: 10px;
  border-radius: 15px;
  border-style: solid dotted dashed double;
  /* this will make different side with different border style */
  margin: 10px 10px 10px 10px;
  border-color: red yellow blue green;
  /* this will color each border side different */
  padding: 10px;
}
#outline{
  padding: 10px;
  margin: 20px 20px 20px 20px;
  box-sizing: border-box;
  outline: 2px solid red;
  border: 2px solid blue;
  outline-offset: 10px;
  /* outline offset add space between border and the outline */
}
#div3 {
  background-color: #21B32C57;
  font-size: 20px;
  box-sizing: border-box;
  border-width: 0 5px 0 5px;
  border-radius: 15px;
  border-style: solid;
  margin: 10px 10px 10px 10px;
  border-color: red;
  /* this will color each border side different */
  padding: 10px
}
#align-left {
  color: #5E0404;
  text-align: left;
}
#align-right{
  color: darkred;
  text-align: right;
}
#align-center{
  color: #062862;
  text-align: center;
}
#justify{
  color: black;
  text-align: justify;
}
#rtl{
  direction: rtl;
  unicode-bidi: bidi-override;
}
#ltr{
  direction: ltr;
}
#div4 {
  box-sizing: border-box;
  border-width: 0 0 0 10px;
  border-radius: 15px;
  border-style: solid;
  margin: 10px 10px 10px 10px;
  /* this will color each border side different */
  padding: 10px;
}
#overline{
  text-decoration-line: overline;
  text-decoration-color: green;
  text-decoration-style: dashed;
  text-decoration-thickness: 10px;
}
#underline{
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
#line-through{
  text-decoration-line: line-through;
  text-decoration-color: red;
}
#over-und{
  text-decoration-line: overline underline;/*WE CAN ADD MULTIPLE TEXT-DECORATION IN SINGLE LINE LIKE THIS*/
  text-decoration-color: blue;
}
#text-dec{
  text-align: center;
}
#div5 {
  background-color: black;
  box-sizing: border-box;
  border-width: 0 0 0 10px;
  border-radius: 15px;
  border-style: solid;
  margin: 10px 10px 10px 10px;
  border-color: greenyellow;
  /* this will color each border side different */
  padding: 10px;
}

#uppercase{
  color: yellow;
  text-transform: uppercase;
  font-size: 20px;
}
#lowercase{
  color: yellow;
  text-transform: lowercase;
  font-size: 20px;
}
#capitalize{
  color: yellow;
  text-transform: capitalize;
  font-size: 20px;
}
#transform{
  color: #0BD4F7C7;
}
#div6{
  box-sizing: border-box;
  margin: 10px 10px 10px 10px;
  padding: 10px;
}
#indent{
  text-indent: 20px;
}
#l-space{
  letter-spacing: 5px;
}
#l-height{
  line-height: 10px;
}
#w-space{
  word-spacing: 5px;
}
#shadow1{
  color: white;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  border-width: 0 0 0 10px;
  border-style: solid;
  border-color: #9F12F3;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  text-shadow: 2px 2px 2px #000000;
}
#shadow2{
  color: white;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
  border-width: 0 0 0 10px;
  border-style: solid;
  border-color: #9F12F3;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 5px 3px 5px darkblue;
}
#github{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  font-size: 30px;
}

#github-a{
  box-sizing: border-box;
  text-decoration: none;
  color: #3EE2E2;
  background-color: #141D917A;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}
#github-a:hover {
  background-color: #D14613A6;
  
}
#github-a:active{
  background-color: #FF14934D;
  
}
#table{
  box-sizing: border-box;
  border: 2px solid black;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  width: 100%;font-size: 15px;
  /* border-collapse: collapse; */
}
td{
  text-align: left;
  padding: 10px;
  
  border: 2px solid black;

}
th{
 
  
  text-align: center;

  border: 2px solid black;
 
}